.Timeline {
    display: flex;
    flex-direction: column;
    // background-color: #F8FAFC;
    // padding: 10px;
    gap: 10px;

    .TimelineTop {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        gap: 10px;
        padding: 10px;
        border-radius: 13px;

        .TimelineHeader {
            background-color: #ffffff;
        }

        .TimelineList {
            background-color: #ffffff;
        }
    }
}