.profileStatusPost {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 13px;
    background-color: #ffffff;
    padding: 10px;

    .profileStatusPostHeader {
        display: flex;
        align-items: center;
        gap: 10px;

        .user {
            .username {color: #0F172A;}
            .postDate {color: #94A3B8;}
        }
    }

    .profileStatusPostImageContent {
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
            width: 90%;
            border-radius:"16px"
        }
    }
    .profileStatusPostInteraction {
        display: flex;
        justify-content: space-around;
        
        .like {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #2563EB;
        }
        .comment, .share {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #94A3B8;}
    }

    .profileStatusPostComment {
        display: flex;
        align-items: center;
        padding: 16px 10px 16px 10px;
        background-color: #F8FAFC;
        border-radius: 13px;

        .commentForm {
            width: 90%;

            input {
                background-color: #F8FAFC;
                border: none;
                width: 100%;
                padding: 10px;

            .commentInputArea {
                width: 90%;
                height: 100%;
                border: none;
                padding: 10px;
            }}

        inputs {
            display: flex;
            align-items: center;
            width: 87%;
            border: none;
            background-color: #F8FAFC;
        }
        }

        .btnIcons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 10%;
            color: #94A3B8;
        }
    
    }
    .fetchedComments {
        background-color: #95cceb;
        border-radius: 13px;
        padding: 0 10px 0 10px;
        height: fit-content;
    }
}