.intro {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 10px;

  .Intro-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.profileAbout {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #F1F5F9;
}

  .list {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 20px;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}
}