.bigmain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.notification {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
    min-height: 92vh;
    overflow-y: auto; 
    padding: 10px;
    margin-left: 900px;
    .topNotification{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.allnote {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.day{
    margin: 10px;
}
.TodayNotification{
    // margin: 20px;
height: 100%;
// background-color: #D7E9FB;
}

.people {
    display: flex;
    flex-wrap: wrap;
    // gap: 1rem;
    margin-top: 1rem;
    // max-height: 400px;
    overflow-y: auto; 
}



.notification-items{
    background-color: #C3DDF8;
    width: 100%;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 1rem;

}