.GroupItems {
    display: flex;
    flex-direction: column;
    
    .heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      p {
        font-size: 12px;
        font-weight:700;
      }
    }
    .group-item{
      display: flex;
      align-items: flex-start;
      gap: 10px;
      padding: 5px;
      align-items: center;
     .see-all {
        p{
          margin-right: 10px;
        }
    
      img{
          width: 30px;
          height: 30px;
      }
      p{
          // font-weight: 100;
          font-size: 6px;
      }
    }
  }
} 