.Videos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .videosTop {
        background-color: #fff;
        border-radius: 13px;
        // overflow: scroll;

        .videosTopHeader {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #F1F5F9;
            padding: 20px;
        }

        .videosTopContent {
            .videosTopContentheader {
                display: flex;
                justify-content: space-between;
                padding: 20px;
                font-weight: 700;
            }

            .videosTopContentBody {
                display: flex;
                flex-direction: row;
                align-items: center;
                overflow: scroll;
            
                .videoCategories {
                    display: flex;
                    flex-direction: row;
                    padding: 20px;
                }

            .categoryInput {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 200px;
                height: 200px;
                padding: 50px;
                border-radius: 13px;
                border: 5px solid black;
                border-style: dotted;
            }
        }
        }
    }
    .videosBottom {
        display: flex;
        flex-direction: column;

        .addMyVideo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: fit-content;
            border-radius: 13px;
            background-color: #9c9c9c;
        }
    }
}